*{
margin: 0;
padding: 0;
box-sizing: border-box;

}

.contenedor{
    width: 100vw;
    height: 100vh ;
    display: grid;
    grid-template: 20px 75px 1fr 23px / 1fr;
    grid-template-areas: "header "
                            "encabezado "
                            "contenido "
                            "footer ";
    
}

.header{
    display: flex;
    justify-content: flex-end;
    grid-area: header;
    background-color: #E2E0DF;
    margin-top: -10px;
}
.encabezado{
    grid-area: encabezado;
    background-color: #B1D2E1;
    border-bottom: 5px solid white;
}
.titulo{
    color: #08398B;
    margin-left: 5px;
    margin-top: 23px;
    font-size: 43px;
    }
.contenido{
    grid-area: contenido;
    background-color: #C4EDFF;
}

.footer{
    text-align: center;
    grid-area: footer;
    background-color: #E2E0DF;

}

.titulos{
  background-color:#08398B;
   font-size: 30px;
    color:white;
    width: 100% !important; 
   padding-top: 5px;
   padding-left: 10px;
}
.card{
   /*  height: 50%;
    width: 20%; */
    width: 300px;
    height: 100px;
   
}
.card1{

    margin-left: 20%;

}
.card2{
    width: 330px;
    height: 100px;
    margin-left: 10%;

}
.card3{

   /*  margin-top: 10%; */
   margin-top: 150px;
    margin-left: -780px;
}
.card4{
    margin-top: 150px;
    margin-left: 160px;
    background-color: rgb(19, 214, 19);

}
.anuncio{
    font-size: 30px ;
    color: black;
    text-align: center;
}
.jumbotron{


    background-color: #C4EDFF;
}
.btn{
    margin-left: 38%;
    background-color: red;
    height: 10%;
    width: 15%;
    color: white;
    font-weight: bold;
    font-size: 30px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgb(136, 89, 89);
}

.btn:hover{
    background-color: green;

}
