*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    }
    
    .contenedor{
        width: 100vw max-content;
        height: 120vh ;
        display: grid;
        grid-template: 20px 75px 1fr 23px / 1fr;
        grid-template-areas: "header "
                                "encabezado "
                                "contenido "
                                "footer ";
        overflow: hidden;
    }
    
    .header{
        display: flex;
        justify-content: flex-end;
        grid-area: header;
        background-color: #E2E0DF;
        margin-top: -10px;
    }
    .encabezado{
        grid-area: encabezado;
        background-color: #B1D2E1;
        border-bottom: 5px solid white;
    }
    .titulo{
        color: #08398B;
        margin-left: 5px;
        margin-top: 23px;
        font-size: 45px;
        font-weight: bold;
        }
    .contenido{
        grid-area: contenido;
        background-color: #C4EDFF;
    }
    
    .footer{
        text-align: center;
        grid-area: footer;
        background-color: #E2E0DF;
    
    }
    .formulario{

        border: 5px solid black;
        /* display: block;
       margin: auto; */
        height: 140px ;
        width: 500px;
        margin-left: 500px;
        margin-top: 10px;
        background-color: #F6F5F5;
        box-shadow: 3px 3px 3px #666;
        display: flex;
        justify-content: center !important;
        justify-items: center !important;
        padding-left: 8%;
        padding-top: 5px;
        padding-bottom: 5px;
        
    }

    .formulario2{

        border: 5px solid black;
        height: 500px;
        width: 1400px;
       margin-left: 5%;
       background-color: #F6F5F5;
       border-radius: 20px;
       box-shadow: 5px 5px 5px #666;
       margin-top: 10px;
    }
    .ico{
        color: #007bff;
    }
    .abierta{
        font-weight: bold !important;
        color: #13bb0d;
        font-size: 25px;
    }
    .cerrada{

        font-weight: bold !important;
        color: #da2424 !important;
        font-size: 25px;
    
    
    }
.anuncio{
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 10px;
    
}
.nombre{
    font-size: 20px;
    padding-left: 50px;
    padding-top: 50px;
  
}

.fechaini{
   margin-top: -35px;
    padding-left: 500px;
    font-size: 20px;
}

.fechafin{
    margin-top: -50px;
    padding-left: 1000px;
    font-size: 20px;
}
.descripcion{
    padding-left: 43px;
font-size: 20px;
}
.area{
    font-size: small;
   height: 280px;
    width: 89%;
    resize: none;
}

 .btn{
    
        margin-top: 30px;
        margin-left: 10%;
         font-size: 20px !important;
         width: 150px;
         font-weight: bold;
         background-color:#08398B !important;
         box-shadow: 3px 3px 3px #666;
         border-radius: 100px !important ;
         border: #08398B;
         font-family: Arial, Helvetica, sans-serif;

 } 
 .boton2{

  
    margin-left: 42%;
     font-size: 20px !important;
     width: 180px;
     font-weight: bold;
     background-color:#08398B !important;
     box-shadow: 3px 3px 3px #666;
     border-radius: 100px !important ;
     border: #08398B;
     font-family: Arial, Helvetica, sans-serif;

}
 .btn:hover{
    background-color: #4675C5 !important;

} 
.campos{
    color: black;
    font-weight: bold;
    font-size: 14px;
    padding-left: 10px;
}
span{
    color: black;
    font-size: 22px;
    margin-left: 5px;
}