*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    }
    
    .contenedor{
        width: 100vw max-content;
        height: 100vh;
        display: grid;
        grid-template: 20px 75px 1fr 23px / 1fr;
        grid-template-areas: "header "
                                "encabezado "
                                "contenido "
                                "footer ";
        
    }
    .ico{
        color: #007bff;
    }
    .header{
        display: flex;
        justify-content: flex-end;
        grid-area: header;
        background-color: #E2E0DF;
        margin-top: -10px;
    }
    .encabezado{
        grid-area: encabezado;
        background-color: #B1D2E1;
        border-bottom: 5px solid white;
    }
    .titulo{
        color: #08398B;
        margin-left: 5px;
        margin-top: 19px;
        font-size: 50px;
        font-weight: bold;
        }
    .contenido{
        grid-area: contenido;
        background-color: #C4EDFF;
    }
    
    .footer{
        text-align: center;
        grid-area: footer;
        background-color: #E2E0DF;
    
    }
    .semestre{

        border: 3px solid black;
        width: 350px;
        height: 60px;
        margin-top: 10px;
        border-radius: 20px;
       
        background-color: #08398B;
      position: fixed;
       margin-left: 0px;
    }
h2{
    font-weight: bold !important;
    color: white !important;
  

}
.semestrex{
    font-weight: bold !important;
    color: white !important;
    font-size: 25px;
}
.formulario{

    border: 5px solid black;
    /* display: block;
   margin: auto; */
    height: 45% ;
    width: 500px;
    margin-left: 500px;
    margin-top: 50px;
    background-color: #F6F5F5;
    box-shadow: 3px 3px 3px #666;
    display: flex;
    justify-content: center !important;
    justify-items: center !important;
  /*   padding-left: 8%;
    padding-top: 10px;
    padding-bottom: 5px;
     */
}

.btn{
    margin-top: 30px;
    margin-left: 10%;
     font-size: 20px !important;
     width: 150px;
     font-weight: bold;
     background-color:#08398B !important;
     box-shadow: 3px 3px 3px #666;
     border-radius: 100px !important ;
     border: #08398B;
     font-family: Arial, Helvetica, sans-serif;
}



.btn:hover{
   background-color: #4675C5 !important;
}
.abierta{
    font-weight: bold !important;
    color: #13bb0d;
    font-size: 25px;
}

.cerrada{

    font-weight: bold !important;
    color: #da2424 !important;
    font-size: 25px;


}
 .configuracion{


    font-size: 20px;
    padding-left: 120px;
    padding-top: 100px;
} 
 
.area{
    font-size: small;
   height: 280px;
    width: 89%;
    resize: none;
}
span{
    color: black;
    font-size: 22px;
    margin-left: 5px;
}