
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor{
    width: 100vw;
    height: 100vh;
   
    color: black;
    display: grid;
    /* grid-gap: 20px; */
    grid-template: 20px 300px 1fr 23px / 1fr 1fr;
    grid-template-areas: "header header"
                            "presentacion presentacion"
                            "ingresar inscripcion"
                            "footer footer";
    overflow: hidden;
    
}
.header{
    background-color: #E2E0DF;
    grid-area: header;
    border: none;
   /* display: flex;
    justify-content: center; 
    align-items: center; */
    
}

.titulo{
/* text-shadow: 3px 3px 2px black; */

/* font-weight: 900;
letter-spacing: -px; */
font-size: 50px;
text-align: center;
font-family: 'Alata', sans-serif;

}
.presentacion{
    background-color:white;
    grid-area: presentacion;
    border-bottom: 15px solid #055B82;
    
    
}


.ingresar{

    grid-area: ingresar;
    margin: 50px;
    border: 5px solid black;
    background-color: #E6E6E6;
    
}
.inscripcion{
    grid-area: ingresar;
    margin: 50px;
    border: 5px solid black;
    background-color: #E6E6E6;
    grid-area: inscripcion;
}
.footer{
    
    background-color: #E2E0DF;
    grid-area: footer;
    border: 1px solid black;
   text-align: center;
}
.logo{
    margin: auto;
    display: block;
    width: 15%;
    height: 65%;
}
.boton1{
    border-radius: 40px;
    background-color:#08398B;
    margin-bottom: 10px;
    margin-left: 200px;
    padding: 13px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    font-weight: bold;
    box-shadow: 3px 3px 3px #666;
    }
.boton2{

    border-radius: 40px;
    background-color:#08398B;
    margin-bottom: 10px;
    margin-left: 235px;
    padding: 13px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    font-weight: bold;
    box-shadow: 3px 3px 3px #666;
}
.boton1:hover,.boton2:hover{
    background-color: #4675C5;
}
.nav-link{
    padding: 0px;
}
.informacion{
    padding-left: 10px;
    
}

.titulos{
    padding-left: 5px;
    font-family: 'Alata', sans-serif;
    font-weight: bold ;
    font-size: 60px;
}
.texto{
    padding-top: 10px;
   padding-left: 10px;
   font-family: 'Alata', sans-serif;
   font-size: large;

}

.prueba{
    border-right: 10px    solid #055B82;
}