@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@700&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor{
    width: 100vw ;
    height: 100vh ;
   
    color: black;
    display: grid;
    /* grid-gap: 20px; */
    grid-template: 20px 200px 500px 23px / 1fr;
    grid-template-areas: "header "
                            "encabezado "
                            "formulario "
                            "footer ";
     overflow: hidden;  
    
}
.header{
    grid-area: header;
    background-color: #E2E0DF;
    
    border: none;
    height: 20px;
   
   /* display: flex;
    justify-content: center; 
    align-items: center; */   
}
 .nav-link{
    padding: 0px;
}

.informacion{
    padding-left: 10px;
} 
.encabezado{
    grid-area: encabezado;
    
}
.logo{
    
    width: 150px;
    height: 150px;
    
    
    
}

.area{
    resize: none;
}

.titulo{
   
    text-align: center;
    
    margin-top: -130px;
    margin-bottom: 40px;
    font-size: 90px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
}

.formulario{
    grid-area: formulario;
    border: 3px solid black;
    border-radius: 25px;
    width: 700px;
    height: 480px;
   display: block;
   margin: auto;
   padding: 25px;
   background-color: #F6F5F5;
   font-family: 'Fira Sans', sans-serif;
   
}


.footer{
    
    background-color: #E2E0DF;
    grid-area: footer;
    border: 1px solid black;
   text-align: center;
   
    margin-bottom: -10px;
}
.bregistro{
    display: block;
    margin: auto;
    font-size: 20px;
    width: 200px;
    font-weight: bold;
    background-color:#08398B;
    box-shadow: 3px 3px 3px #666;
    border-radius: 40px ;
    border: #08398B;
} 

.bregistro:hover{
    background-color: #4675C5;

}
.campos{
   
    font-size: smaller;
}