*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    }
    
    .contenedor{
        width: 100vw max-content;
        height: 100vh;
        display: grid;
        grid-template: 20px 1fr 23px / 1fr;
        grid-template-areas: "header "
                                "contenido "
                                "footer ";
        
    }
    .ico{
        color: #007bff;
    }
    .header{
        display: flex;
        justify-content: flex-end;
        grid-area: header;
        background-color: #E2E0DF;
        margin-top: -10px;
    }
 
    .contenido{
        grid-area: contenido;
        background-color: white;
    }
    
    .footer{
        text-align: center;
        grid-area: footer;
        background-color: #E2E0DF;
    
    }
    .icono{
        
        color: rgb(86, 236, 67);
        font-size: 50px;
        /* padding-top: 100px;
        padding-left: -500px !important; */
    
    }
  h1{

    color: black;
    font-weight: bold !important;
    padding-left: 130px;
  }
  .anuncio{

    /* margin-left: 400px;
margin-bottom: 500px !important; */
margin-top: 28px;
font-size: larger;
color: black;
font-weight: bold;
  }

.formulario{

    border: 5px solid black;
    /* display: block;
   margin: auto; */
    height: 25% ;
    width: 800px;
    margin-left: 370px;
    margin-top: 180px;
    background-color: #F6F5F5;
    box-shadow: 3px 3px 3px #666;
   /*  display: flex;
    justify-content: center !important;
    justify-items: center !important; */
  /*   padding-left: 8%;
    padding-top: 10px;
    padding-bottom: 5px;
     */
}

.btn{
    margin-top: 50px;
    margin-left: 35%;
     font-size: 20px !important;
     width: 450px;
     font-weight: bold;
     background-color:#08398B !important;
     box-shadow: 3px 3px 3px #666;
     border-radius: 100px !important ;
     border: #08398B;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 30px !important;
}



.btn:hover{
   background-color: #4675C5 !important;
}
