*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    }
    
    .contenedor{
        width: 100vw max-content;
        height: 100vh;
        display: grid;
        grid-template: 20px 75px 1fr 23px / 1fr;
        grid-template-areas: "header "
        "encabezado "
        "contenido "
        "footer ";
        
    }
  
    .encabezado{
        grid-area: encabezado;
        background-color: #B1D2E1;
        border-bottom: 5px solid white;
    }
    .titulo{
        color: #08398B;
        margin-left: 5px;
        margin-top: 23px;
        font-size: 43px;
        font-size: 43px;
        font-weight: bold;
        }
    .ico{
        color: #007bff;
    }
    .header{
        display: flex;
        justify-content: flex-end;
        grid-area: header;
        background-color: #E2E0DF;
        margin-top: -10px;
    }
 
    .contenido{
        grid-area: contenido;
        background-color: #C4EDFF;
    }
    
    .footer{
        text-align: center;
        grid-area: footer;
        background-color: #E2E0DF;
    
    }
    .icono{
        
        color: yellow;
        font-size: 50px;
        /* padding-top: 100px;
        padding-left: -500px !important; */
    
    }
 
  .anuncio{

    /* margin-left: 400px;
margin-bottom: 500px !important; */
margin-top: 50px;
font-size: larger;
color: black;
font-weight: bold;
  }

.formulario{

    border: 5px solid black;
    /* display: block;
   margin: auto; */
    height: 40% ;
    width: 700px;
    margin-left: 400px;
    margin-top: 100px;
    background-color: #F6F5F5;
    box-shadow: 3px 3px 3px #666;
   /*  display: flex;
    justify-content: center !important;
    justify-items: center !important; */
  /*   padding-left: 8%;
    padding-top: 10px;
    padding-bottom: 5px;
     */
}
.primero{
    color: black;
    font-size: large;
    padding: 10px;
}
.sub{
    font-weight: bold;
    color: black;
  
}

.btn{
    margin-top: 50px;
    margin-left: 40%;
     font-size: 20px !important;
     width: 300px;
     font-weight: bold;
     background-color:#08398B !important;
     box-shadow: 3px 3px 3px #666;
     border-radius: 100px !important ;
     border: #08398B;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 30px !important;
}



.btn:hover{
   background-color: #4675C5 !important;
}
