*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    }
    
    .contenedor{
        width: 100vw max-content;
        height: 100vh max-content ;
        display: grid;
        grid-template: 20px 75px 1fr 23px / 1fr;
        grid-template-areas: "header "
                                "encabezado "
                                "contenido "
                                "footer ";
        
    }
    
    .header{
        display: flex;
        justify-content: flex-end;
        grid-area: header;
        background-color: #E2E0DF;
        margin-top: -10px;
    }
    .encabezado{
        grid-area: encabezado;
        background-color: #B1D2E1;
        border-bottom: 5px solid white;
    }
    .titulo{
        color: #08398B;
        margin-left: 5px;
        margin-top: 23px;
        font-size: 43px;
        }
    .contenido{
        grid-area: contenido;
        background-color: #C4EDFF;
    }
    
    .footer{
        text-align: center;
        grid-area: footer;
        background-color: #E2E0DF;
    
    }
    
    .titulos{
      background-color:#08398B;
       font-size: 30px;
        color:white;
        width: 100% !important; 
       padding-top: 5px;
       padding-left: 10px;
    }
    /* .card{
        height: 50%;
        width: 20%;
        width: 300px;
        height: 100px;
       
    } */
    .card1{
        width: 250px;
        height: 100px;
        
        
    }
    .card2{
        width: 330px;
        height: 100px;
        margin-left: 10%;
    
    }
    .card3{
    
       /*  margin-top: 10%; */
       margin-top: 200px;
        margin-left: -328px;
        width: 330px;
        height: 100px;

    }
    .card4{
        
        margin-top: 150px;
        margin-left: 160px;
        background-color: rgb(241, 24, 24);
        
        margin-left: 100px;
        width: 330px;
        margin-top: 350px;
    }
.card5{

    width: 280px;
    height: 100px;

     margin-top: 200px;
    margin-left: -1170px;
}

.card6{
    width: 330px;
    height: 100px;
    margin-top: 350px;
    margin-left: 126px;

}
 
    .anuncio{
        font-size: 30px ;
        color: black;
        text-align: center;
        background-color:white;
        
        width: 100%;
    }
    .anunciox{
        text-align: center;
        color: black;
    font-size: 30px ;
    font-weight: bold;
     }
   
    
    .jumbotron{
    
    
        background-color: #C4EDFF;
    }

   .descripcion{
margin-left: 850px;
margin-top: -615px;
border: 3px solid black ;
width: 650px;
height: 330px;
    } 

.descripcion h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    box-shadow: 1px 2px 1px rgb(148, 147, 163);
}