@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

.contenedor{
    width: 100vw;
    height: 100vh;
   
    color: black;
   /*  display: grid;
    /* grid-gap: 20px; */
    grid-template: 20px 200px 1fr 20px / 1fr;
    grid-template-areas: "header "
                            "encabezado "
                            "registro "
                            "footer ";
      overflow: hidden;  
      background-color: #0EA1C2
    
}


.header{
    background-color: #E2E0DF;
    grid-area: header;
    border: none;
    height: 20px;
   /* display: flex;
    justify-content: center; 
    align-items: center; */
    
}
.nav-link{
    padding: 0px;
}

.informacion{
    padding-left: 10px;
} 
.encabezado {
    grid-area: encabezado;
  
    
}
.registro{
    grid-area: registro;
    
}
.titulo{
    margin-top: -140px;
    text-align: center;
    margin-left: -50px;
    font-family: 'Hind Madurai', sans-serif;
    font-weight: bold;
    font-size: 100px;
    color: rgb(28, 32, 36);
    letter-spacing: -5px;
    word-spacing: 10px;
}
.logo{
    width: 200px;
    height: 200px;
    margin: 30px 5%;
}

.footer{
    
    background-color: #E2E0DF;
    grid-area: footer;
    border: 1px solid black;
   text-align: center;
   margin-top: -28px;
}

.account-wall
{
    
    margin: 3% auto;
   width: 500px;
   height: 320px;
   
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    border-radius: 3%;
    
}

.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
   
}
.usu{

    padding-left: 10%;
}
.pass{
    padding-left: 7.5%;
}
