*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    
    .contenedor{
        width: 100vw max-content;
        height: 100vh ;
        display: grid;
        grid-template: 20px 75px 1fr 23px / 1fr;
        grid-template-areas: "header "
                                "encabezado "
                                "contenido "
                                "footer ";
        
    }
    
    .header{
        display: flex;
        justify-content: flex-end;
        grid-area: header;
        background-color: #E2E0DF;
        margin-top: -10px;
        
    }
    .titulo{
        color: #08398B;
        margin-left: 5px;
        margin-top: 23px;
        font-size: 45px;
        font-weight: bold;
      
        }
    .ico{
        color: #007bff;
    }
    .encabezado{
        grid-area: encabezado;
        background-color: #B1D2E1;
        border-bottom: 5px solid white;
    }
    
    .contenido{
        grid-area: contenido;
    
        background-color: #C4EDFF;
        border: 1px solid black;
        padding-top: 2%;
    }
    /* .custab{
        border: 1px solid #ccc;
        padding: 5px;
        margin: 5% 0;
        box-shadow: 3px 3px 2px #ccc;
        transition: 0.5s;
        }
    .custab:hover{
        box-shadow: 3px 3px 0px transparent;
        transition: 0.5s;
        } */
    .anuncio{
        color: black;
        margin: 5px;
      
     font-size: 20px;
       
    }
    
    .footer{
        text-align: center;
        grid-area: footer;
        background-color: #E2E0DF;  
        color: black;
    }
    
    table{
        margin-top: 5%;
    }
    
    thead{
        background-color:  #08398B;
        color: white;
    }
    
    tbody{
        color: black;
        background-color: white;
    }
    
    .table-bordered,td,th{
    
        border: 3px solid black !important;
    }
    .cerrada{

        color: red;
    }
    
    